<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteRule ^$ public/ [L]
  RewriteRule (.*)$ public/$1 [L]

</IfModule>
RewriteEngine On
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html
ErrorDocument 403 /404.html
ErrorDocument 400 /404.html
ErrorDocument 401 /401.html